<div class="board">
  <div class="container">
    <div>
      <h1>雲端場地租借</h1>
      <h4>我們是全國場地租借系統，操作簡單又方便！</h4>
      <% if signed_in? %>
        <%= link_to '提供場地', new_user_space_path(current_user), class: 'fun_btn' %>
      <% else %>
        <%= link_to '提供場地', '#', class: 'fun_btn' %>
      <% end %>
      <span class="sep"></span>
      <%= link_to '我要租借', '#', class: 'fun_btn' %>
    </div>
  </div>
</div><!-- end board -->
<div class="container">
  <div class="fun_board">
    <h1>六大好用功能</h1>
    <div class="featured"><span class="fc"><i class="fa fa-th fa-3x"></i></span></div>
    <div class="featured"><span class="fc"><i class="fa fa-calendar fa-3x"></i></span></div>
    <div class="featured"><span class="fc"><i class="fa fa-usd fa-3x"></i></span></div>
    <div class="featured"><span class="fc"><i class="fa fa-ellipsis-h fa-3x"></i></span></div>
    <div class="featured"><span class="fc"><i class="fa fa-globe fa-3x"></i></span></div>
    <div class="featured"><span class="fc"><i class="fa fa-users fa-3x"></i></span></div>
  </div><!-- end fun_board -->
</div>