<br>
<div class="container">
  <div>
    <div>
      <%= gravatar_for @user, size: 140 %>
      <span><%= @user.name %></span>
    </div>
    <h1>刊登記錄：</h1>
    <div>
      <ol>
        <li>test</li>
        <li>test</li>
      </ol>
    </div>

    <h1>租借記錄：</h1>
    <div>
      <ol>
        <li>test</li>
        <li>test</li>
      </ol>
    </div>
  </div>
</div>