// new
#space_editor {
  display: block;
  height: 600px;
  #sidebar {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
  }
  #spaces_dumps {
    display: block;
    width: 800px;
    height: inherit;

    float: right;
    border: 2px dashed #bfbfbf;
  }
}

#test {
  display: block;
  width: 500px;
  height: 500px;
  background: #bfbfbf;
  margin: 10px;
}

.select_lot {
  border: 2px solid #000000;
}

.lot {
  display: block;
  width: 100px;
  height: 100px;
  background: #7f7f7f;
}