// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board {
  display: block;
  margin: 20px auto 0 auto;
  // reset h1
  h1 {
    margin: 0;
    font-size: 6em;
    letter-spacing: 10px;
    text-shadow: 1px 4px 3px rgba(255, 255, 255, 0.6);
  }

  h4 {
    letter-spacing: 5px;
    font-size: 1.2em;
  }
  text-align: center;
  background: #fef30a;
  padding: 50px 0;
  // width: 960px;
}

// 我要刊登、租借按鈕
.fun_btn {
  display: inline-block;
  padding: 15px 35px;
  margin: 20px 0;
  font-size: 120%;
  border: 1px #c1c1c1 solid;
  border-radius: 5px;
  color: #000;
  background: #ffffff;

  &:hover {
    background: #fafafa;
  }
}

.sep {
  margin: 0 55px;
}


// featured
.fun_board {
  text-align: center;
  margin-top: 100px;
  a {
    color: #000000;
  }
  .featured {
    width: 90px;
    height: 90px;
    background: #fef30a;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    float: left;
    margin: 10px;
    margin-right: 50px;
    position: relative;
    left: 70px;
    &:hover {
      background: #dcdcdc;
    }

    &.open {
      background: #dcdcdc;
    }

    .fc {
      position: relative;
      top: 24px;
    }

  }

  // .divfun {
  //   position: relative;
  //   top: 120px;
  //   margin: 100px 0;
  //   .pic {
  //     display: block;
  //     width: 300px;
  //     height: 300px;
  //     background: #dcdcdc;
  //     border-radius: 5px;
  //     margin: 20px 20px 20px 0;
  //     float: left;
  //   }

  //   .pra {
  //     display: block;
  //     text-align: left;
  //     width: 600px;
  //     float: left;
  //     line-height: 2em;
  //   }
  // }
}

.fun_big_board {
  display: block;
  margin-top: 125px;
  width: inherit;
  height: 100%;
  background: #fcfcfc;
  border-radius: 10px;
  border: 1px dotted #bfbfbf;
  .hidden {
    display: none;
  }
  text-align: center;
  h1, p {
    color: #000000;
  }

  color: #fef30a;
  .fa {
    text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.6);
  }



}